In [ ]:
w['female'] = w['female'].map({'female': 1, 'male': 0})

In [1]:
import pandas as pd
import numpy as np

In [218]:
mydf = pd.DataFrame({
    'col_1':['apple', 'banana','grapes', 'orange', 'pineapple'],
    'col_2' :['dog', 'cat', 'horse', 'husky', 'donkey'],
    'col_3':[1,2,3,4,5]
})

mydf

       col_1   col_2  col_3
0      apple     dog      1
1     banana     cat      2
2     grapes   horse      3
3     orange   husky      4
4  pineapple  donkey      5

In [226]:
x = [[1]]

In [227]:
y = pd.DataFrame(x, columns = ['target'])
y

   target
0       1

In [229]:
a = tuple([1,2,3])
a

(1, 2, 3)

In [230]:
print(type(a))

<class 'tuple'>